<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tv Show Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="container jumbotron mt-4">
    <form class="form-group"
        action="#"
        th:action="@{/tvform}"
        th:object="${tvshow}"
        method="post">
<!--form attributes-->
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>ID:</label>
                <input type="number" th:field="*{id}" class="form-control"/>

                <span th:if="${#fields.hasErrors('id')}"
                      th:errors="*{id}" ></span>
            </div>

            <div class="col-sm-12 col-md-6">
                <label>Name:</label>
                <input type="text" th:field="*{name}" class="form-control"/>

                <span th:if="${#fields.hasErrors('name')}"
                        th:errors="*{name}"></span>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label>Type:</label>
                    <input type="text" th:field="*{type}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('type')}"
                            th:errors="*{type}"></span>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>Description:</label>
                    <textarea rows="3" th:field="*{description}" class="form-control" ></textarea>
                    <span th:if="${#fields.hasErrors('description')}"
                            th:errors="${description}"></span>
                </div>
            </div>
            <div class="" align="center">
                <input type="submit" value="Submit" class="btn btn-lg mt-4 btn-danger"/>
            </div>
    </form>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>